<base href="#{$smarty.const.BASEURL}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#{if $title!=null}#{$title} - #{/if}#{$inis.title}</title>
<meta name="keywords" content="#{if $kw==NULL}#{$inis.keywords}#{else}#{$kw}#{/if}" />
<meta name="description" content="#{if $des==NULL}#{$inis.description}#{else}#{$des}#{/if}" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js"></script>
<script src="js/jquery-hiz.js"></script>
