@CHARSET "UTF-8";
h6{height:23px;line-height:23px; text-align:right; font-size:12px; background:#edf7ff; color:#3f3f3f;border:1px solid #fff; padding-right:10px;text-align: left;}
h6 span{padding-left:15px;}

.flowBox{border:1px solid #c8e6fe; border-top:2px solid #9fd2ff;}
.flowBox table{margin:5px auto;line-height: 150%;color: #404040;}
.flowBox table{font-size: 12px;border-spacing: 1px;border-collapse: separate;}
.flowBox table td, th {display: table-cell;vertical-align: inherit;line-height: 150%;padding: 5px;}
/*2.62在购物车里面显示相关配件*/
.flowGoodsFittings{padding:10px;}
.flowGoodsFittings ul{height:1%; margin:5px 4px; float:left;}
.flowGoodsFittings li{float:left; width:120px;}
.flowGoodsFittings li.goodsimg{width:48px; margin-right:10px;}
.flowGoodsFittings li.goodsimg img{width:48px; height:48px; display:block;}