@CHARSET "UTF-8";
.region{width:920px; margin:auto; padding:20px 0 0 0; overflow:auto;font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}

.reg_t{font-size:25px;color:#494949;border-bottom: 1px dashed #CCC;padding-bottom:3px; margin-bottom:10px}
.reg_t span{font-size:12px;color:#333; font-weight:700;margin-left: 25px;}
.reg_t em{background: url(../img/region/order.png) no-repeat 0px -16px;width: 15px;height: 15px;line-height: 15px;text-align: center;margin-right: 5px;color: white;background-position: 0px 0px;display: inline-block;display: -moz-inline-stack;zoom: 1;font-style: normal;font-weight: 700;}

.reg_submit{margin-bottom: 5px;height: 35px;background: url(../img/region/but1.png) no-repeat 0 -36px;width: auto;padding-left: 3px;display: inline-block;color: #666;line-height: 34px;}
.reg_submit input{font-weight: bold;color: white;height: 35px;border: none;padding: 0 10px 0 7px;font-size: 14px;width: auto;background: url(../img/region/but1.png) no-repeat right -36px;}
.reg_login{margin-bottom: 5px;height: 29px;background: url(../img/region/but1.png) no-repeat 0 0;width: auto;padding-left: 3px;display: inline-block;color: #666;line-height: 34px;}
.reg_login input{color: white;height: 29px;border: none;padding: 0 10px 0 7px;font-size: 14px;width: auto;background: url(../img/region/but1.png) no-repeat right 0;color: #000;}

.reg-right{ padding:10px 0 0 20px;overflow:hidden;_zoom:1;_float:left;}
.reg-right p{ margin-bottom:10px; color:#666;font-size: 14px;}
.reg-right p a{color: blue;}
.reg-right p a:HOVER{text-decoration: underline;}

.reg_tip{border:1px solid #ffbf7a; background:#fffced; margin-bottom:10px; margin-right:100px;margin-left:50px;position:relative}
.reg_tip div{padding:8px 10px;}
.reg_tip div strong{color:#ff8400}
.reg_tip div p{color:#777; text-indent:20px}

.reg_left{float: left;padding:10px 0 0 14px; width:700px; border-right:1px solid #ccc;}
.reg_input{ padding:7px 0; overflow:hidden; clear:both}
.reg_input label{ width:120px;font-size:14px; color:#8c8686; text-align:right; float:left}
.reg_type{ width:auto; color:#000;}
.reg_input .reg{padding:10px 0 0 120px}
.reg_sub_div{padding: 10px 0 0 120px;}

.input-text,textarea{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0;font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}

.onShow{display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle;background:url(../img/region/msg_bg.png) no-repeat;color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px}
.onShow{background-position:3px -147px;border-color:#40B3FF;color:#959595;}