#{assign var='title' value='文件'}

#{if $a=='' || $a=='index'}
<div class="t"><a href="#{url c=$c a='toEdit'}">上传新#{$title}</a><b>管理中心  - #{$title}列表</b></div>

<table class="l"> 
<tr>
<th width="20px"><img src="img/adm/icon_drop.gif" onclick="return delSub()"/></th>
<th>文件名称</th>
<th width="30">删除</th>
</tr>
#{foreach item=item from=$obs}
<tr>
<td align="center"><input type="checkbox" name="id[]" value="#{$item.id}"/></td>
<td>#{$item.name}</td>
<td align="center">#{adm_del id=$item.id}</td>
</tr>
#{/foreach} 
</table> 
#{pager}

#{elseif $a=='toEdit'}
<div class="t"><a href="#{url c=$c}">#{$title}列表</a><b>管理中心  - 上传新#{$title}</b></div>

<form action="#{url c=$c a='edit'}" method="post" enctype="multipart/form-data">
<table class="e">
<tr><th>上传：</th><td><input type="file" name="file"/></td></tr>
<tr><th>名称：</th><td><input type="text" name="name"/></td></tr>
</table>
<div class="but">#{adm_submit} #{adm_reset}</div>
</form>
#{/if}