#{assign var='title' value=$ic.name}
#{assign var='ic_id' value=$smarty.get.ic_id}
#{if $a=='' || $a=='index'}
<div class="t"><a href="#{url c=$c a='toEdit' ic_id=$ic_id}">录入新#{$title}</a><b>管理中心  - #{$title}列表</b></div>
<div class="s">
  <form action="index.php" method="get">
  <input type="hidden" name="c" value="#{$c}"/>
  <input type="hidden" name="ic_id" value="#{$ic_id}"/>
    关键字 <input type="text" name="seaname" size="15" />
    <input type="submit" value=" 搜索 " class="btn1" />
  </form>
</div>

<table class="l"> 
<tr>
<th width="40">排序</th>
<th>标题</th>
<th width="150">发布时间</th>
<th width="30">编辑</th>
<th width="30">删除</th>
</tr>
#{foreach item=item from=$obs}
<tr>
<td width="40px">#{adm_sort id=$item.id value=$item.sort_order}</td>
<td>#{$item.name}</td>
<td align="center">#{$item.createtime|date_format:'%Y-%m-%d'}</td>
<td align="center"><a href="#{url c=$c a='toEdit' id=$item.id ic_id=$ic_id}"><img src="img/adm/icon_edit.gif"/></a></td>
<td align="center">#{adm_del id=$item.id}</td>
</tr>
#{/foreach} 
</table> 
#{pager}

#{elseif $a=='toEdit'}

<div class="t"><a href="#{url c=$c ic_id=$ic_id}">#{$title}列表</a><b>管理中心  - 编辑#{$title}</b></div>
<script type="text/javascript" src="lib/kindeditor/kindeditor.js"></script>

<form action="#{url c=$c a='edit' ic_id=$ic_id}" method="post">
<input type="hidden" name="id" value="#{$ob.id}"/>
#{inputlasturl}
<table class="e">
<tr><th>标题：</th><td><input name="name" type="text" style="width: 400px;" value="#{$ob.name}"/></td></tr>
<tr><th>详细：</th><td>#{editor value=$ob.other}</td></tr>
</table>
<div class="but">#{adm_submit} #{adm_reset}</div>
</form>

#{/if}