<div class="col-left col-1 left-memu">
<h5 class="title"><img src="img/user/m_1.png" width="15" height="15"> 管理中心</h5>
<ul>
<li><a href="index.php?m=member&amp;c=content&amp;a=publish">在线投稿</a></li>
<li><a href="index.php?m=member&amp;c=content&amp;a=published">已发布稿件</a></li>
</ul>
<h6 class="title">财务管理</h6>
<ul>
<li><a href="index.php?m=pay&amp;c=deposit&amp;a=pay">在线充值</a></li>
<li><a href="index.php?m=pay&amp;c=deposit&amp;a=init">支付记录</a></li>
<li><a href="index.php?m=pay&amp;c=spend_list&amp;a=init">消费记录</a></li>
</ul>
<h6 class="title">收藏夹</h6>
<ul>
<li><a href="#{url c=$c a='favoriteEdit'}" class="add">添加</a><a href="#{url c=$c a='favorite'}">收藏列表</a></li>
</ul>>
<h6 class="title">购物信息</h6>
<ul>
<li><a href="#{url c=$c a='order'}">我的订单</a></li>
</ul>
<h6 class="title">帐号管理</h6>
<ul>
<li><a href="#{url c=$c a='userEdit'}">修改个人信息</a></li>
<li><a href="#{url c=$c a='userEditPass'}">修改密码</a></li>
</ul>
</div>