<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
#{include file='theme/common/head.html' title=$ob.name keywords=$ob.keyword description=$ob.dis}
<style>
.infoX1{height: 35px;line-height: 35px;font-size: 20px;font-family: '黑体';text-align: center;border-bottom: 1px solid #CCCCCC;}
.infoX2{height: 30px;line-height: 30px;text-align: center;font-size: 12px;}
</style>
</head>
<body>
#{include file='theme/common/top.html'}

<div style="width: 94%;">
<div style="height: 15px;"></div>
<div class="infoX1">#{$ob.name}</div>
<div style="width: 100%;text-align: center;border-bottom: 1px solid #ccc;"><img src="data/upload/photo/#{$ob.photo}" width="400"/></div>
<div>#{$ob.other}</div>
</div>

#{include file='theme/common/foot.html'}
</body>
</html>