<div class="col-1">
<h5 class="title">修改密码</h5>
<div class="content">
<form method="post" action="#{url c=$c a=$a}">
<table width="100%" cellspacing="0" class="table_form">
<tr><th width="80">原始密码：</th><td><input type="password" name="oldPass" class="input-text"/><div class="onShow">请输入密码</div></td></tr>
<tr><th>新密码：</th><td><input type="password" name="pass" class="input-text"/><div class="onShow">请输入密码</div></td></tr>
<tr><th>确认密码：</th><td><input type="password" name="rePass" class="input-text"/><div class="onShow">请输入确认密码</div></td></tr>
<tr>
<th></th>
<td><input type="submit" value="提交" class="button"></td>
</tr>
</table>
</form>
</div>
</div>