<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>网站管理中心</title>
</head>
<frameset rows="60,*" cols="*" frameborder="no" border="0">
  <frame src="#{url c='adm_index' a='top'}" name="top-frame" scrolling="no" noresize="noresize" id="top-frame"></frame>
  <frameset cols="180,*" frameborder="no" border="0" framespacing="0">
    <frame src="#{url c='adm_index' a='left'}" scrolling="yes" name="left-frame" id="left-frame"></frame>
    <frame src="#{url c='adm_index' a='welcome'}" name="mainframe" scrolling="auto" id="mainframe"></frame>
  </frameset>
</frameset>
</html>
